*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

.DS_Store
.AppleDouble
.LSOverride
Icon

._*

.Spotlight-V100
.Trashes

!.gitignore
*~

packer_cache
*.box